<!DOCTYPE html>
<html>
<head>
  <title>Snap CI on Heroku</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="Snap CI Documentation"><span class="glyphicon glyphicon-user"></span> https://docs.snap-ci.com/</a>
      </li>
      <li>
        <a href="Getting Started with Snap CI"><span class="glyphicon glyphicon-user"></span> https://docs.snap-ci.com/getting-started/</a> </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
